/* All CSS variables and mixins */

// Main variables
:root {
  --content-width: 960px; /* Intented for content-related elements */
  --app-width: 1170px; /* Intented for ui-related elements */
  --mobile-breakpoint: 600px;
  --family-sans-serif: 'Inter', 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  --family-sans-mono: 'Inter', 'IBM Plex Mono', 'Lucida Console', Monaco,
    monospace;
  --navbar-height: 60px;
  --navbar-border: 5px;
  --z-layer-below: -1;
  --z-layer-content: 1;
  --z-layer-footer: 100;
  --z-layer-header: 200;
  --z-layer-navigation: 300;
  --z-layer-navigation-item: 400;
  --z-layer-dropdown: 450;
  --z-layer-modal-window: 500;
  --z-layer-max: 9999;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --space-100: 4px;
  --space-200: 8px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 24px;
  --space-600: 36px;
  --space-700: 42px;
  --space-800: 60px;
  --size-100: 8px;
  --size-200: 16px;
  --size-300: 24px;
  --size-400: 32px;
  --size-500: 40px;
  --size-600: 48px;
  --size-700: 56px;
  --size-800: 64px;
  --font-smaller: 0.75rem;
  --font-small: 0.875rem;
  --font-default: 1rem;
  --font-medium: 1.125rem;
  --font-large: 1.5rem;
  --font-larger: 2rem;
  --font-jumbo: 3rem;
  --navigation-z-index: 300;
  --navigation-item-z-index: 400;
  --color-text: #212121;
  --color-text-light: #798795;
  --color-title: #113d4c;
  --color-subtitle: #3a4b51;

  /* Actionable Color Palette */

  /*
 * Bright Blue
 * Use this powerful blue to call attention to something that is not an error nor a warning,
 * useful to let a user know that something might happen, or to give contextual info
 * on a certain theme.
 */
  --color-blue-100: #d2ecff;
  --color-blue-200: #a6e7ff;
  --color-blue-300: #65dbff;
  --color-blue-400: #33c9f7;
  --color-blue-500: #0093d3;
  --color-blue-600: #005ba3;
  --color-blue-700: #002972;

  /*
 * Yellow
 * Use yellow for things that require attention but are not urgent to attack right now.
 */
  --color-yellow-100: #ffeeda;
  --color-yellow-200: #ffe5ad;
  --color-yellow-300: #ffcb58;
  --color-yellow-400: #ffbb27;
  --color-yellow-500: #ed9900;
  --color-yellow-600: #c46800;
  --color-yellow-700: #8c3c00;

  /*
 * Green
 * UUse green to show success states and positive actions but be very careful
 * when showing success next to Credijusto Green as it might confuse the user.
 * Don't use in branding.
 */
  --color-green-100: #cdfbde;
  --color-green-200: #7af6ac;
  --color-green-300: #23e492;
  --color-green-400: #0cd981;
  --color-green-500: #0db654;
  --color-green-600: #008d3b;
  --color-green-700: #005222;

  /*
 * Red
 * Use red for things that require immediate attention such as failed transactions.
 */
  --color-red-100: #ffdbe6;
  --color-red-200: #ffa8b4;
  --color-red-300: #f66f6f;
  --color-red-400: #e54444;
  --color-red-500: #b80032;
  --color-red-600: #8c0037;
  --color-red-700: #5f0037;

  /* Section: Neutral Tones */

  /*
 * Light Grey
 * Small variations of monochrome light tones, gradual enough to be subtle against a single weight.
 * The lightest value is pure white.
 */
  --color-light-grey-100: #fff;
  --color-light-grey-200: #f7f7f7;
  --color-light-grey-300: #f0f0f0;
  --color-light-grey-400: #e0e0e0;
  --color-light-grey-500: #c5c5c5;
  --color-light-grey-600: #aeaeae;
  --color-light-grey-700: #979797;

  /*
 * Dark Grey
 * Small variations of monochrome dark tones, gradual enough to be subtle against a single weight.
 * The lightest value is pure black.
 */
  --color-dark-grey: #515857;
  --color-dark-grey-100: #888;
  --color-dark-grey-200: #6e6e6e;
  --color-dark-grey-300: #464646;
  --color-dark-grey-400: #363636;
  --color-dark-grey-500: #2e2e2e;
  --color-dark-grey-600: #1c1c1c;
  --color-dark-grey-700: #000;

  /*
 * Calm Blue
 * Intended to be used across many parts of the UI and replace boring grey schemes. Use it sparklingly to not draw attention to something but make it different, colorful.
 * The lightest value is pure black.
 */
  --color-calm-blue-100: #e5eef1;
  --color-calm-blue-200: #cde5ed;
  --color-calm-blue-300: #95becb;
  --color-calm-blue-400: #528595;
  --color-calm-blue-500: #3b7183;
  --color-calm-blue-600: #274e5c;
  --color-calm-blue-700: #112c34;

  /* Section: Brand Colors */

  /*
 * Credijusto Green
 * Only use in branding. Be very careful when using this colors in the UI.
 * For success actions use UI Green instead.
 */
  --credijusto-green-light: #0bce7c;
  --credijusto-green-dark: #0bce7c;

  /*
 * Credijusto Grey
 * Only use in branding. Be very careful when using this colors in the UI.
 * For neutral colors or UI applications use colors in Neutral Tones section.
 */
  --credijusto-grey-light: #c6c6c6;
  --credijusto-grey-dark: #212121;

  /* -- Form Colors -- */

  --input-outline: #c2e5ff;
  --color-selected-option: var(--color-blue-500);
  --color-hover-option: var(--color-blue-100);
  --color-input-border: #dadada;
  --color-input-control: #31a7fe;
  --color-input-error: #d84949;
  --color-input-error-icon: #ffb4b4;
  --color-input-text-disabled: var(--color-light-grey-600);
  --color-input-disabled: var(--color-light-grey-300);
  --color-input-focus-border: #c2e5ff;
  --control-lateral-padding: 17px;

  /* -- Context Colors -- */
  --background-light-gray: #f4f6f9;

  /* -- UI Colors -- */

  /*
  * Action
  * Intended for the main action on a page
  */
  --color-action: #0bce7c;
  --color-action--light: #60dba7;
  --color-action--lighter: #c9f3e1;
  --color-action--dark: #00836b;
  --color-action--muted: #469889;

  /*
  * Alert
  * For actions, dialogs or elements that need user atention and might be potentially important
  */
  --color-alert: #ff8a00;
  --color-alert--light: #ffb763;
  --color-alert--lighter: #ffedd8;
  --color-alert--dark: #f86800;
  --color-alert--muted: #d27b3b;

  /*
  * Destructive
  * For actions, dialogs or elements that are destructive or potentially dangerous
  * and require immediate attention of the user
  */
  --color-destructive: #ff2323;
  --color-destructive--light: #ff6a6a;
  --color-destructive--lighter: #ffd0d0;
  --color-destructive--dark: #e20000;
  --color-destructive--muted: #c4373b;

  /*
  * Neutral
  * For actions, dialogs or elements that are secondary or informative
  */
  --color-neutral: #576471;
  --color-neutral--light: #7e93a7;
  --color-neutral--lighter: #d9e4ef;
  --color-neutral--dark: #2e4359;
  --color-neutral--muted: #6a7885;

  /*
  * Auxiliar
  * For actions, dialogs or elements that indicate a progress
  * and don't need immediate action of the user
  * for example, when a document is beign reviewed
  */
  --color-auxiliar: #00c1e8;
  --color-auxiliar--light: #55d3ec;
  --color-auxiliar--lighter: #c9f6ff;
  --color-auxiliar--dark: #0079e8;
  --color-auxiliar--muted: #d27b3b;

  /* -- Text Colors -- */
  --text-color-main: var(--credijusto-grey-dark);
  --text-color-action: var(--color-action--dark);
  --text-color-alert: var(--color-alert--dark);
  --text-color-destructive: var(--color-destructive--dark);
  --text-color-neutral: var(--color-neutral--dark);
  --text-color-auxiliar: var(--color-auxiliar--dark);
}
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.credijusto_input {
  margin-bottom: 1rem;
}

.credijusto_title {
  margin-top: 0.67em;
}

.row {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.credijusto_input-error {
  font-size: 0.875rem;
}

.isHidden {
  display: none !important;
}
