.credijusto_label span {
  box-sizing: border-box;
  color: var(--color-dark-grey);
  display: block;
  font-family: var(--family-sans-serif);
  font-size: 0.875rem;
  font-weight: var(--font-weight-medium);
  line-height: 1;
  margin-bottom: var(--space-200);
  width: 100%;
}
